*.d

*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.ilk

*.pdb

*.so
*.dylib
*.dll
*.so.*

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app

build/
Build/
build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

*.tmp
*.log
*.bak
*.swp


vcpkg_installed/

*.dwo


Testing/
.cache/

.vs/


*.user
*.suo
*.userosscache
*.sln.docstates


.vscode/
.idea/


[Bb]in/
[Oo]bj/


*.nupkg
packages/
!packages/build/
!packages/repositories.config


*.tlog
*.lastbuildstate
*.idb
*.ipdb
*.iobj
*.recipe
*.resjson


*.VC.db
*.VC.VC.opendb
*.VC.opendb


TestResults/
*.trx

*.coverage
*.coveragexml

[Dd]ebug/
[Rr]elease/

*.dmp


CMakeUserPresets.json
CMakeSettings.json.user

*.cache
*.ncb
*.opendb
*.opensdf
*.sdf
*.suo
*.user
*.vcxproj.user
*.vcxproj.filters.user

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

**pycache**/
*.py[cod]
.pytest_cache/

.DS_Store
Thumbs.db
desktop.ini
